.must-item{
    position: relative;

    border-bottom: 0.1em solid #073B4C;
    background-color: #DAF3FC;
}

.must-text{
    position: absolute;
    z-index: 0;
    top: 0.6em;
    left: 1em;

    width: 100%;

    padding: 0;
    margin: 0;
    line-height: 0;
}

.must-line{
    position: absolute;
    z-index: 1;
    top: 0.5em;
    
    width: 0;
    height: 0.2em;
    
    background-color: #EF476F;
        
    transition: 0.5s;
}

.cross-out{
    width: 100%;
}

/* misc styling for form elements */
label{
    padding-bottom: 1em;
    font-size: 0.8em;
}

input{
    padding: 0.4em 0.5em;
}
