.must-line{
    position: absolute;
    z-index: 1;
    top: 0.5em;
    
    width: 0;
    height: 0.2em;
    
    background-color: #EF476F;
        
    transition: 0.5s;
}

.cross-out{
    width: 100%;
}
