.must-container{
    width: 15rem
}

.must-item{
    position: relative;
}

.must-text{
    line-height: 0;
}

.must-line{
    position: absolute;
    z-index: 1;
    top: 0.5em;
    
    width: 0;
    height: 0.1em;
    
    background-color: #48a7d7;
        
    transition: 0.5s;
}

.cross-out{
    width: 100%;
}
